* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.8vh;
  text-align: center;
  box-sizing: border-box;
}


/* .neon-border {
  border: 2px solid #66fcf1;
  border-radius: 10px;
  box-shadow: 0 0 1vw #66fcf1,
    0 0 2.5vw #66fcf1;
} */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #202833;
  min-height: 100%;
  color: #c5c6c8;
  min-height: 100%;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header img {
  width: 80%;
}

main {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

/* PAGINA DE INICIO */
.tittle {
  font-size: 2.2vh;
}

#logInForm,
#postForm {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 90vh;
  margin: 1vh 0.5vh 1vh 0.5vh;
  border: 1px solid #66fcf1;
  border-radius: 10px;
  padding: 2vh;
  font-size: 2.3vh;
  color: #c5c6c8;
  background-color: #202833;
}

input[type="email"]:hover,
input[type="text"]:hover,
input[type="password"]:hover {
  outline: none;
  background-color: #66fcf1;
  color: #202833;
  box-shadow: 0 0 5px #66fcf1,
    0 0 10px #66fcf1;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  background-color: #66fcf1;
  color: #202833;
  box-shadow: 0 0 5px #66fcf1,
    0 0 10px #66fcf1;
}


button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202833;
  border: 2px solid #66fcf1;
  border-radius: 10px;
  box-shadow: 0 0 5px #66fcf1,
    0 0 10px #66fcf1;
  color: #c5c6c8;
  text-transform: uppercase;
  font-weight: bold;
  margin: 3vh auto;
  padding: 2vh 7vh;
  width: 38vh;
  text-align: center;
}

button:hover {
  background-color: #66fcf1;
  color: #202833;
  font-weight: bold;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: auto;
}

.registerHome {
  text-align: center;
  background: #66fcf1;
  width: 100%;
  height: 8vw;
  color: #202833;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 20px 0;
}

.forgotBtn,
.returnLogIn {
  font-size: 14px;
  text-decoration: none;
  color: #66fcf1;
}

.returnLogIn {
  margin-top: 50px;
}


footer img {
  width: 64%;
  margin: 0 auto;
  margin-top: 20px;
}


/* PAGINA DE REGISTRO */
#signUpFormEmail,
.postUsersContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



/* PAGINA USER REGISTER */
.tittleUserRegister {
  font-weight: bold;
  text-shadow: 0 0 4px rgba(114, 219, 254), 0 0 20px rgb(114, 219, 254);
  margin: 10vw 0 2vw 0;
  font-size: 6vw;
}

/* TERMINOS Y CONDICIONES */

.check {
  display: flex;
  justify-content: center;
  padding: 3.5vw;
}


input[type="checkbox"] {
  accent-color: #66fcf1;
  margin-right: 10px;
  width: 13px;
  height: 13px;
  box-shadow: 0 0 1vw #66fcf1,
    0 0 2.5vw #66fcf1;
}


input[type="checkbox"]:hover {
  box-shadow: 0 0 5px #66fcf1,
    0 0 10px #66fcf1;
}

.passwordError,
.termsError,
.emailError,
.nameError,
.postError {
  display: none;
  color: #66fcf1;
}

textarea {
  box-sizing: border-box;
  resize: none;
  width: 90vh;
  min-height: 60px;
  height: auto;
  text-align: justify;
  margin-top: 10px;
  border: 1px solid #66fcf1;
  border-radius: 10px;
  padding: 2vw;
  outline: none;
  background-color: #202833;
  color: #c5c6c8;
  overflow: hidden;
  font-size: 2.3vh;
}

textarea:hover {
  background-color: #66fcf1;
  box-shadow: 0 0 5px #66fcf1,
    0 0 10px #66fcf1;
  color: #202833;
}

textarea:focus {
  background-color: #66fcf1;
  box-shadow: 0 0 5px #66fcf1,
    0 0 10px #66fcf1;
  color: #202833;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    width: 70%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    width: 65%;
  }

  .registerHome {
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main {
    width: 60%;
  }

  .registerHome {
    font-size: 16px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    width: 55%;
  }

  .registerHome {
    font-size: 18px;
  }

  footer img {
    width: 50%;
    margin-top: 20px;
  }

  .dropdownPost {
    margin-right: 200px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main {
    width: 50%;
  }

  .registerHome {
    font-size: 20px;
  }

  footer img {
    width: 50%;
    margin-top: 20px;
  }

  .dropdownPost {
    margin-right: 200px;
  }
}

/* Home */

#postForm img {
  width: 80px;
  margin-bottom: -20px;
  margin-left: -70px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 80px;
}

.postUsersContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: flex-start;
  justify-content: space-between;
}

.postUsersContainer img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin-bottom: -50px;
  margin-left: -55px;
  margin-right: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.postUsersData {
  margin: 0 50px;
  display: flex;
  margin-bottom: -5px;
}

.postUsersContainer p {
  margin-top: 50px;
  font-weight: bold;
}

.userName {
  text-shadow: 0 0 4px rgba(114, 219, 254), 0 0 8px rgb(114, 219, 254);
}

.postInfoContainer {
  display: flex;
  margin-top: -40px;
  margin-left: 40px;
  margin-right: 20px;
}

.commentsContainer {
  margin-left: 100px;
}

.fa-regular {
  padding-right: 10px;
}

/* DELET & EDIT */
.dropdownPost {
  text-align: right;
  margin-bottom: -80px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: -80px;
  margin-top: 45px;
  padding-right: 10px;
}

.dropdown-container {
  display: none;
  width: auto;
  height: auto;
  background-color: #66fcf1;
  border-radius: 10px;
  color: #202833;
  padding: 5px;
  cursor: pointer;
}

.dropdown-container div {
  padding: 8px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
}

.dropdown-container i {
  padding-right: 5px;
}

.dropdown-container.active {
  display: block;
}

.editError {
  display: none;
  color: #66fcf1;
  margin-top: -50px;
}